In [1]:
import csv
import numpy as np
import pandas as pd
from chefboost import Chefboost as chef

In [2]:
data = pd.read_csv('bank-additional/bank-additional.csv', sep=';')
# data.head()
training_set = data.loc[0:999]
test_set = data.loc[999:4119]
training_set.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,Decision
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [74]:
# Create Model and training
config = {'algorithm': 'ID3'}
model = chef.fit(training_set, config)

ID3  tree is going to be built...
Accuracy:  99.9 % on  1000  instances
finished in  88.4156322479248  seconds

In [75]:
# Testing model
correct = 0
wrong = 0
for index, row in test_set.iterrows():
    prediction = chef.predict(model, row)
    target = row['Decision']
    if prediction == target:
        correct += 1
    else:
        wrong += 1
        
print("accuracy: %f. Correct: %d. Wrong: %d" %(float(correct/(correct+wrong)), correct, wrong))

accuracy: 0.834295. Correct: 2603. Wrong: 517

In [67]:
# print("%d,%d,%d" %(len(data), len(training_set), len(test_set)))
correct/(correct+wrong)

0.8240331491712707

In [5]:
training_set.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,1000.00000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,39.79200,250.074000,2.52500,958.297000,0.207000,0.132100,93.612126,-40.710400,3.629690,5165.377300
std,10.49814,229.871946,2.55576,196.953796,0.571382,1.503076,0.565136,4.491212,1.727559,75.207707
min,18.00000,5.000000,1.00000,1.000000,0.000000,-3.400000,92.201000,-50.800000,0.637000,4963.600000
25%,32.00000,102.000000,1.00000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.334000,5099.100000
50%,38.00000,179.000000,2.00000,999.000000,0.000000,1.100000,93.918000,-41.800000,4.857000,5191.000000
75%,47.00000,314.000000,3.00000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,86.00000,1868.000000,27.00000,999.000000,6.000000,1.400000,94.767000,-26.900000,4.970000,5228.100000